

.credentials {
	width: 100%;
	height: 60px;
	padding-left: 40px;
	font-size:30px;
	margin-bottom: 10px;
}

#goSignUp,#goLogIn  {
	color: white;
	background: black;
	padding:8px;
	cursor:pointer;
	font-size: 22px;
	margin-top: 10px;
}

#goSignUp{
	display: none;
}

#fbLogIn
{
	margin-top: 20px;
	height: 60px;
	color: white;
	background-color: #3b5998 !important;
	margin-left: 10px;
}
#submit1{
	margin-top: 20px;
	height: 60px;
}

#loginTitle {
	margin-bottom: 0px;
}


/* unvisited link */
a.helpful:link {
    color: white;
}

/* visited link */
a.helpful:visited {
    color: white;
}

#wrappermiddle {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#loginText {
	display: none;
	color: white;
}

#signUpText {
	display: block;
	color: white;
	margin-top: 10px;
}

#registerTitle {
	display: none;
}

#warning {
  color: red;
  width:100%;
  font-size: 22px;
  bottom:10px;
  margin:auto;
  visibility: hidden;
}

#logIn , .loginScreen {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 0px 0px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#logIn h1 {
    margin-top: 0;
    font-size: 35px;
}

#logIn ul {
    padding-left: 20px;
}

#logIn .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#logIn .success {
    margin-top: 25px;
}

#logIn .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
#name{
	display: none;
}
