body {
    background: #eee;
    text-align: center;
    padding: 0 0px;
}

#username, #passwd, #email
{
 margin-bottom: 10px;   
}
#logIn , .loginScreen {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 0px 0px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#logIn h1 {
    margin-top: 0;
    font-size: 35px;
}

#logIn ul {
    padding-left: 20px;
}

#logIn .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#logIn .success {
    margin-top: 25px;
}

#logIn .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
